.item-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.item-row .item-button {

} 

.item-row p {
    margin-bottom: 0;
}

.item-row button {
    margin-right: 1rem;
    width: 32px;
    height: 32px;
}