.todo-list {
    margin-top: 1.3rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.todo-list table {
    margin-bottom: 0;
}

.todo-list tr {
    border-bottom: 1px solid #ced4da;
}

.todo-list tr:last-child {
    border-bottom: none;
}

.todo-list td {
    border-top: none;
}